@page "/"
@using System.ComponentModel.DataAnnotations
@using System.Text
@using GeometryGym.Ifc
@using IfcFixLib.FilterStrategy
@using IfcFixLib

@inject IJSRuntime JS;

<PageTitle>Home</PageTitle>

<div>
    <h2 class="display-4">WebAssembly Upload</h2>
    <p>Read a file using Blazor WebAssembly.</p>
</div>

@if(Message.Length > 0)
{
    <p class="alert alert-secondary" role="alert">@Message</p>
}

<EditForm Model="@IfcFile" method="post" OnValidSubmit="@OnSubmit" enctype="multipart/form-data">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <InputText class="form-control mb-4" placeholder="Search string" @bind-Value="@IfcFile.CheckString" />
    <InputText class="form-control mb-4" placeholder="Check type" @bind-Value="@IfcFile.CheckType" />
    <InputFile class="form-control mb-4" OnChange="SetFile" accept=".ifc" />
    <button class="btn btn-primary" type="submit">Submit</button>
</EditForm>

@code {
    private WebAssemblyFile IfcFile { get; set; } = new();
    private long maxFileSize = 5120000000;
    private string Message { get; set; } = String.Empty;

    private void SetFile(InputFileChangeEventArgs e)
    {
        IfcFile.FileInput = e.File;
    }

    private async Task OnSubmit()
    {
        try
        {
            var checker = new StringChecker();
            checker.FilterType = StringFilterType.Equals;
            var valueGetter = new StringValueGetter();
            valueGetter.ValueType = ElementStringValueType.Name;
            var strategy = new StringFilterStrategy();
            strategy.StringChecker = checker;
            strategy.FilteredString = IfcFile.CheckString;
            strategy.StringValueGetter = valueGetter;
            ElementsFilter Filter = new ElementsFilter(strategy);

            System.IO.Stream fileStream = IfcFile.FileInput.OpenReadStream(maxFileSize);
            var parser = new DbParser();
            var database = await parser.ParseFromStreamAsync(fileStream);
            var filteredElements = await Filter.ProcessAsync(database.Project.Extract<IfcBuiltElement>());
            int numberObjectsFiltered = filteredElements.Count;

            string filtered = String.Empty;

            if (numberObjectsFiltered > 0)
            {
                var newDb = await DbDuplicator.DuplicateDbWithElementsAsync(database, filteredElements);
                filtered = newDb.ToString(FormatIfcSerialization.STEP);
                Message = $"{IfcFile.FileInput.Name} read successful, elements filtered: {numberObjectsFiltered}";

                string newFileName = $"{IfcFile.FileInput.Name.Replace(".ifc", "")}_updated.ifc";

                // Convert content to Base64 for download`
				var encodingISO_8859_1 = Encoding.GetEncoding("ISO-8859-1");
                var byteArray = encodingISO_8859_1.GetBytes(filtered);

                await JS.InvokeVoidAsync(
                            "saveAsFile",
                            newFileName,
                            Convert.ToBase64String(byteArray));
            }
            else
            {
                Message = $"{IfcFile.FileInput.Name} read successful, but zero elements were filtered successfully";
            }
        } 
        catch(Exception e)
        {
            Message = "Read failed. Error: " + e.Message;
        }
    }

    private class WebAssemblyFile
    {
        [Required]
        public string CheckString { get; set; } = String.Empty;
        [Required]
        public string CheckType { get; set; } = String.Empty;
        
        public IBrowserFile FileInput { get; set; }
    }
}
