@page "/sortable"
@using System.Linq
@using BlazorSortableList

<h3 class="text-center">Sortable list tryout</h3>
<div class="container">
	<div class="row">

		<div class="col-6">
			<p class="alert alert-info">Items1 start</p>
			<SortableList Items="Items1" Group="g1" OnUpdate="@SortList1" OnRemove="@ListOneRemove" Context="item">
				<SortableItemTemplate>
					<p class="alert alert-info">@item.Name</p>
				</SortableItemTemplate>
			</SortableList>
			<p class="alert alert-info">Items1 end</p>
		</div>
		<div class="col-6">
			<SortableList Items="Items2" Group="g1" OnUpdate="@SortList2" OnRemove="@ListTwoRemove" Context="item">
				<SortableItemTemplate>
					<p class="alert alert-info">@item.Name</p>
				</SortableItemTemplate>
			</SortableList>
		</div>

	</div>
</div>
@code {
	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();

		Items1 = Enumerable.Range(1, 10)
			.Select(x => new Item() { Id = x, Name = $"Item 1-{x}" })
			.ToList();
		Items2 = Enumerable.Range(1, 10)
			.Select(x => new Item() { Id = x, Name = $"Item 2-{x}" })
			.ToList();
	}

	public List<Item> Items1 { get; set; }
	public List<Item> Items2 { get; set; }
	public class Item
	{
		public int Id { get; set; }
		public string Name { get; set; }
	}
	private void ListOneRemove((int oldIndex, int newIndex) indices)
	{
		var item = Items1[indices.oldIndex];
		Items2.Insert(indices.newIndex, item);
		Items1.Remove(item);
	}

	private void ListTwoRemove((int oldIndex, int newIndex) indices)
	{
		var item = Items2[indices.oldIndex];
		Items1.Insert(indices.newIndex, item);
		Items2.Remove(item);
	}

	private void SortList1((int oldIndex, int newIndex) indices)
	{
		SortList(indices, Items1);
	}

	private void SortList2((int oldIndex, int newIndex) indices)
	{
		SortList(indices, Items2);
	}

	private void SortList((int oldIndex, int newIndex) indices, List<Item> items)
	{
		var (oldIndex, newIndex) = indices;

		var itemToMove = items[oldIndex];
		items.RemoveAt(oldIndex);

		if (newIndex < items.Count)
		{
			items.Insert(newIndex, itemToMove);
		}
		else
		{
			items.Add(itemToMove);
		}

		StateHasChanged();
	}
}
