@using System.Net

@inject NavigationManager NavManager
@inject IJsonConvertService Json
@inject ILocalStorageService ClientStorage
@inject ISanitizerService Sanitizer
@inject LayoutManagerService LayoutManager
@inject IJSRuntime JS

<div class="row m-5">
	<div class="d-grid gap-2 d-md-block">
		<button
			class="btn btn-primary"
			onclick="@SerializeAndShareLayout"
			type="button">
			Share layout
		</button>
		<button
			class="btn btn-primary"
			onclick="@ToggleShowSaveOptions"
			type="button">
			Save layout
		</button>
		@if (SavedLayouts is not null && SavedLayouts.Count > 0)
		{
			<button
				class="btn btn-primary"
				onclick="@ToggleShowLoadOptions"
				type="button">
				Load layout
			</button>
		}
	</div>
</div>

@if (!string.IsNullOrEmpty(ListSerialized))
{
	<div class="row m-5">
		<div class="card p-0">
			<div class="card-body">
				<h5 class="card-title">
					Serialized layout
				</h5>
				<pre>
					<code>
						@ListSerialized
					</code>
				</pre>
			</div>
			<div class="card-footer">
				Encoded length: @ListEncoded.Length
			</div>
		</div>
	</div>
}

@if (_showSaveOptions)
{
	<div class="row m-5">
		<InputText class="form-control" @bind-Value="@NameToSave"/>
		<button
			class="btn btn-primary"
			onclick="@SaveLayout"
			type="button">
			Save
		</button>
	</div>
}

@if (_showLoadOptions)
{
	<div class="row m-5">
		<InputSelect class="form-select" @bind-Value="LayoutToLoad">
			@foreach (string savedLayout in SavedLayouts!)
			{
				<option value="@savedLayout">@savedLayout</option>
			}
		</InputSelect>
		<button
			class="btn btn-primary"
			onclick="@LoadLayout"
			type="button">
			Load layout
		</button>
	</div>
}

@code {
	[Parameter]
	[EditorRequired]
	public EventCallback OnLayoutUpdate { get; set; }

	public List<SerializableModelBase>? Components { get; set; } =
		[
			new FilterByStringComponentModel(),
		new IfcDataDublicatorModel()
		];
	public string ListSerialized { get; set; } = String.Empty;

	[SupplyParameterFromQuery(Name = "list")]
	public string ListEncoded { get; set; } = String.Empty;

	public string NameToSave { get; set; } = String.Empty;
	public string LayoutToLoad { get; set; } = String.Empty;
	public List<string>? SavedLayouts { get; set; }
	private bool _showLoadOptions = false;
	private bool _showSaveOptions = false;

	public async Task SaveLayout()
	{
		SavedLayouts!.Add(NameToSave);
		await ClientStorage.SetItemAsync(nameof(SavedLayouts), SavedLayouts);
		await ClientStorage.SetItemAsync(NameToSave, LayoutManager.ComponentsLayout);
		StateHasChanged();
	}
	public async Task LoadLayout()
	{
		var layout = await ClientStorage.GetItemAsync<List<SerializableModelBase>>(LayoutToLoad);
		if (layout is not null)
		{
			LayoutManager.ImportLayout(layout);
		}
		await OnLayoutUpdate.InvokeAsync();
		StateHasChanged();
	}

	public async Task SerializeAndShareLayout()
	{
		ListSerialized = Json.SerializeObject(LayoutManager.ComponentsLayout);
		ListEncoded = WebUtility.UrlEncode(ListSerialized);
		string url = NavManager.GetUriWithQueryParameter("list", ListEncoded);
		NavManager.NavigateTo(url);
		await JS.InvokeVoidAsync("copyTextToClipboard", url);
		StateHasChanged();
	}

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		if (!String.IsNullOrEmpty(ListEncoded))
		{
			string json = WebUtility.UrlDecode(ListEncoded);
			ListSerialized = Sanitizer.Sanitize(json);
			var list = Json.DeserializeObject<List<SerializableModelBase>>(ListSerialized);
			if (list is not null)
			{
				Components = list;
			}
		}
		LayoutManager.ImportLayout(Components!);
		SavedLayouts = await ClientStorage.GetItemAsync<List<string>>(nameof(SavedLayouts)) ?? new List<string>();
		StateHasChanged();
		await OnLayoutUpdate.InvokeAsync();
	}

	private void ToggleShowLoadOptions()
	{
		_showLoadOptions = !_showLoadOptions;
	}

	private void ToggleShowSaveOptions()
	{
		_showSaveOptions = !_showSaveOptions;
	}
}
